[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
django-honeypot = "*"
psycopg2-binary = "*"
python-decouple = "*"

[dev-packages]
